.content-title{
  color: aqua;
}

.content-body{
  color:red;
}



/* UL */
.ul{
  display:flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  height: auto;

}
.ul , li{
  list-style:none;
}

li:hover{
  color:red;
  cursor: pointer;
}

/* CART */
.img-cart{
  width: 50px;
  height: 50px;;
}



/* CONTENT IMAGE MAIN */
.content-img-main{
  background-position:bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-attachment: fixed;
  display: flex;

}



/* PRESENTACION ABAJO DE IMAGEN PRINCIPAL  */
.content-presentation{
  display: flex;
  justify-content: center;
  text-align: justify;
}